<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      SonidosApp
    </ion-title>

    <ion-buttons end>
      <button *ngIf="!ordenando" ion-button (click)="ordenando = true">
        Ordenar
      </button>
      <button *ngIf="ordenando" ion-button (click)="ordenando = false">
          Terminado
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher [enabled]="!ordenando" (ionRefresh)="recargar($event)">
    <ion-refresher-content></ion-refresher-content>

  </ion-refresher>

  <ion-list [reorder]="ordenando" (ionItemReorder)="reordenar($event)">
    <ion-item-sliding *ngFor="let item of animales; let i = index">
      <button ion-item detail-none (click)="play(item)">      
        <ion-avatar item-left>
          <img [src]="item.imagen">
        </ion-avatar>
        <h2>{{ item.nombre }}</h2>
        <ion-icon name="play" item-right *ngIf="!item.reproduciendo"></ion-icon>
        <ion-icon name="pause" item-right *ngIf="item.reproduciendo"></ion-icon>
      </button>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="borrar_animal(i)">
          <ion-icon name="trash"></ion-icon>
          Eliminar
        </button>      
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
